/* Style général */
:root {
    --navbar-height: 50px;
}

body{
    font-family: "Roboto";
    margin: 0;
}

.page-container {
    padding: var(--navbar-height);
    height: 100vh;
}

#visualisations {
    display: flex;
}

/* Navbar */
#navbar {
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    background: linear-gradient(to left,#8c1919, #4d2c2c);
}

#navbar .navbar-items {
    list-style: none;
    display: flex;
    justify-content: end;
}

#navbar #navbar-title {
    margin-right: auto;
}

#navbar .navbar-items > * {
    margin-right: 10px;
}

#navbar .navbar-items * {
    color: white;
    text-decoration: none;
}

#navbar .navbar-items > *:hover:not(#navbar-title) {
    border-bottom: solid red 3px;
}

#treemap > rect {
    padding: 4px;
}

.title {
    margin: 0 auto;
    text-align: center;
}

.title h1 {
    padding-bottom: 5px;
    position: relative;
}

.title h1::before {
    position: absolute;
    content: "";
    width: 89%;
    height: 14px;
    bottom: 5px;
    transform: skew(-12deg) translateX(5px);
    background: rgba(119, 113, 113, 0.17);
    opacity: 0.7;
    z-index: -1;
}

#tooltip {
    font-size: 10pt;
    font-family: "Verdana";
    color: #222;
    background-color: #fff;
    padding: .5em;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

#options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#options > * {
    display: flex;
}

#options .option-name {
    line-height: 40px; /* centre verticalement les titre */
    padding-right: 10px;
}

#options .option-choices > * {
    font-size: 16px;
    padding: 10px 10px;
    border: 3px solid black;
    float: left;
    transition: 0.5s;
}

#options .option-choices > *:not(:last-child) {
    border-right: none; /* On enlève les doubles bordures. */
}

#options .option-choices > *:first-child {
    border-radius: 10px 0 0 10px;
}

#options .option-choices > *:last-child {
    border-radius: 0 10px 10px 0;
}

#options .option-choices > *:hover:not(.option-selected) {
    background: #616161;
    border-color: #616161;
    color: white;
}

#options .option-selected {
    background: black;
    color: white;
}

#tooltip ul {
    list-style-type: none;
    padding: 0;
}

/*#treemap rect:hover {
    stroke: #646464 !important;
    stroke-width: 3px;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
    opacity: 0.5 !important;
    transition: 0.5s;
}*/

#treemap g:hover rect {
    stroke: currentColor !important;
    stroke-width: 3px;
    stroke-linejoin: round;
    opacity: 0.5 !important;
    transition: 0.5s;
}

#tooltip.hidden {
    display: none;
}

.treemap-legend-category {
    fill: white;
    text-shadow: 2px 2px 2px black;
    text-anchor: middle;
}

.treemap-legend-comparisons {
    fill: white;
    text-shadow: 2px 2px 2px black;
    text-anchor: middle;
    dominant-baseline: hanging;
}