/* Style général */

/** Import des polices **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --navbar-height: 50px;
}

body{
    font-family: "Roboto", serif;
    margin: 0;
}

.page-container {
    padding: var(--navbar-height);
    min-height: 80vh;
}

/* Style de la Navbar */
#navbar {
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    background: white;
    box-shadow: 0 1px 5px black;
    z-index: 1; /* pour que la navbar ne soit pas transparente */
}

#navbar .navbar-items {
    padding-left: 10px;
    list-style: none;
    display: flex;
    justify-content: end;
    font-family: "Secular One";
}

#navbar .navbar-items > * {
    margin-right: 10px;
}

#navbar .navbar-items * {
    color: black;
    text-decoration: none;
}

#navbar #navbar-title {
    margin-right: auto;
    font-size: 20px;
}

#navbar #navbar-title::before {
    content: "\f51e   ";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
}

#navbar .navbar-items > *:hover:not(#navbar-title) {
    border-bottom: solid black 3px;
}

/* Style des visualisations */
#visualisations {
    position: relative;
}

/** Responsiveness **/
@media screen and (max-width: 900px) {
    #visualisations {
        height: 200vh;
        margin: 0 auto;
    }

    #histogram-container, #treemap-container {
        width: 90%;
        height: 90vh;
        margin: 0 auto;
    }

    #treemap{
        width: 100%;
        height: 60%;
    }

    #histogram{
        width: 90%;
        height: 75%;
    }

    #options > * {
        font-size: 2vw;
    }

    #options .option-choices > * {
        padding: 1vw 1vw;
    }

    .ylabel{
        font-size: 1.7vw;
        text-anchor: middle;
    }

    .xlabel{
        font-size: 2vw;
        dominant-baseline: auto;
    }

    .xticks, .yticks{
        font-size: 1.7vw;
    }

    .meanlabel{
        dominant-baseline: middle;
        font-size: 1.6vw
    }

    .barlabel{
        text-anchor: middle;
        font-size: 1.1vw;
    }
}

@media screen and (min-width: 900px) {
    #visualisations {
        display: flex;
        justify-content: space-between;
        height: 100vh;
    }

    #histogram-container, #treemap-container {
        width: 45%;
        height: 90vh;
    }

    #treemap{
        width: 100%;
        height: 60%;
        margin: 0 auto;
    }

    #histogram{
        width: 90%;
        height: 75%;
        margin: 0 auto;
    }

    #options > * {
        font-size: 1vw;
    }

    #options .option-choices > * {
        padding: 0.7vw 0.7vw;
    }

    .ylabel{
        font-size: 1vw;
        text-anchor: middle;
    }

    .xlabel{
        font-size: 1.2vw;
        dominant-baseline: auto;
    }

    .xticks, .yticks{
        font-size: 1vw;
    }

    .meanlabel{
        dominant-baseline: middle;
        font-size: 0.9vw
    }

    .barlabel{
        text-anchor: middle;
        font-size: 0.7vw;
    }
}

/** Titre des visualisations **/
.title {
    margin: 0 auto;
    text-align: center;
}

.title h1 {
    padding: 10px 10px 1vh;
    font-size: 2vw;
    border: 2px dotted black;
}

/** Tooltip du treemap **/
#tooltip {
    font-size: 10pt;
    font-family: "Verdana", serif;
    color: #222;
    background: #fff;
    padding: .5em;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

#tooltip.hidden {
    display: none;
}

#options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

#options > * {
    display: flex;
}

#options .option-name {
    line-height: 50px; /* centre verticalement les titre */
    padding-right: 0.7vw;
}

#options .option-choices > * {
    border: 0.3vw solid black;
    float: left;
    transition: 0.5s;
    cursor: pointer;
}

#options .option-choices > *:not(:last-child) {
    border-right: none; /* On enlève les doubles bordures. */
}

#options .option-choices > *:first-child {
    border-radius: 1vw 0 0 1vw;
}

#options .option-choices > *:last-child {
    border-radius: 0 1vw 1vw 0;
}

#options .option-choices > *:hover:not(.option-selected) {
    background: #616161;
    border-color: #616161;
    color: white;
}

#options .option-selected {
    background: black;
    color: white;
}

/** Style du treemap **/
#treemap {
    transition: all 0.5s;
    cursor: pointer;
}

#treemap rect {
    stroke: black;
}

#treemap rect.category-selected {
    opacity: 1;
}

#treemap rect.category-not-selected {
    opacity: 0.2 !important;
}

/* Le texte des rectangles est désormais survolable */
#treemap g:hover rect:not(.category-selected) {
    stroke-width: 3px;
    opacity: 0.5 !important;
    transition: 0.5s;
}

/* Texte affiché dans les rectangle de la treemap */
.treemap-legend-category, .treemap-legend-comparisons {
    fill: white;
    text-shadow: 2px 2px 2px black;
    text-anchor: middle;
}

.treemap-legend-comparisons {
    dominant-baseline: hanging;
}

/** Histogramme **/

line {
    stroke-dasharray: 4;
    stroke: royalblue;
    stroke-width: 2;
}

/* Style des pages */
/** Home **/
#home, #about {
    display: flex;
    background: #282727;
    color: white;
}

/* Image de John */
#home-john {
    padding-top: 4vh;
    padding-left: 10vw;
    width: 30%;
    filter: drop-shadow(5px 5px 2px gray);
}

#home-details {
    padding-top: 5vh;
    width: 50%;
}

#home-details-title {
    font-size: 3vw;
    padding-bottom: 2.5vh;
}

/* Effet de soulignement sur le mot "optimiser" : on aurait bien aimé pouvoir l'animer d'où le code complexe suivant */
#home-details-title em {
    font-style: normal;
    position: relative;
}

#home-details-title em::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 13%;
    bottom: 0;
    background-color: blue;
    font-weight: bold;
}

#home-details-description {
    font-size: 1.6vw;
    line-height: 1.5;
    font-family: Roboto, serif;
    margin-left: 4vw;
}

.home-details-description-indented {
    padding-left: 15px;
    border-left: 10px solid yellow;
}

#home-details-description p {
    padding-bottom: 10px;
}

/** Page de description des données **/
.description-details-description > * {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 4px gray;
    margin: 0 30px 20px 0;
    padding: 20px 10px 10px;
}

@media screen and (min-width: 900px) {
    .description-details-description {
        display: flex;
    }
}

.description-icon {
    height: 50px;
    width: 50px;
    font-size: 15px;
    border: black;
    border-radius: 50%;
    background: black;
    color: white;
    display: flex;
    justify-content: center; /* pour centrer verticalement l'icône */
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.description-title {
    text-align: center;
}

.description-details-description ul {
    padding-left: 10px;
}

.description-details-description ul ul {
    padding-left: 20px;
}

.description-text {
    font-size: 10pt;
}

/** Footer **/
#about {
    padding-left: 10px;
    padding-bottom: 10px;
}

#about footer {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

#about a {
    color: white;
}

footer .main-container {
    display: flex;
    justify-content: space-between;
}